google-generativeai
google-auth
requests
fastapi
uvicorn[standard]
pydantic
fastapi-cors
psycopg2-binary
SQLAlchemy
sqlmodel
sentry-sdk[fastapi]
python-dotenv
alembic
PyJWT
redis
aioredis
pgvector
numpy